<div class="border-2 border-white rounded-lg p-4">
  <p class="text-center my-2">
    Utiliza la combinación de teclas <samp><kbd>Ctrl</kbd> + <kbd>Command</kbd> + <kbd>3</kbd></samp> para realizar una captura de toda la pantalla.<br>
  </p>
  <p class="text-center my-2">
    Para capturar parte de la pantalla, tan solo usa las teclas <samp><kbd>Ctrl</kbd> + <kbd>Command</kbd> + <kbd>4</kbd></samp> y selecciona el área.
  </p>
  <p class="text-center my-2">
    En caso de que solo quieras capturar una ventana o un menú, utiliza la combinación <samp><kbd>Ctrl</kbd> + <kbd>Command</kbd> + <kbd>4</kbd> + <kbd>Barra espaciadora</kbd></samp> y selecciona la ventana o menú.
  </p>
  <p class="text-center my-2">
    Las capturas de pantalla estarán en tu escritorio.
  </p>
  <p class="text-center my-2">
    Si quieres más información, consulta la <a href="https://support.apple.com/es-es/HT201361" target="_blank" class="underline">documentación de Apple<svg class="h-4 w-4 inline align-super" aria-hidden="true" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M13.5 6H5.25A2.25 2.25 0 003 8.25v10.5A2.25 2.25 0 005.25 21h10.5A2.25 2.25 0 0018 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25" stroke-linecap="round" stroke-linejoin="round"></path></svg></a>.
  </p>
</div>
