<div class="border-2 border-white rounded-lg p-4">
  <p class="text-center">
    Dependiendo del modelo del móvil, pero los más modernos lo tienen estandarizado a los botones volumen abajo y encendido.<br>
    Puedes obtener más información en la <a href="https://support.google.com/android/answer/9075928?hl=es" target="_blank" class="underline">documentación de Google<svg class="h-4 w-4 inline align-super" aria-hidden="true" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M13.5 6H5.25A2.25 2.25 0 003 8.25v10.5A2.25 2.25 0 005.25 21h10.5A2.25 2.25 0 0018 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25" stroke-linecap="round" stroke-linejoin="round"></path></svg></a>.
  </p>
</div>
