<div class="border-2 border-white rounded-lg p-4">
  <p class="text-center">
    Depende mucho de tu entorno de escritorio, pero generalmente todos tienen por defecto la tecla Imp Pant, que es la que te permite hacer capturas de pantalla.<br>
    Tambien puedes simplemente abrir la aplicacion de capturas de pantalla (Spectacle, por ejemplo) y hacer click en el boton de captura de pantalla.
  </p>
  <img
    class="rounded-lg flex flex-row mx-auto my-2"
    src="assets/linux/CapturaDePantallaLinux.webp"
    alt="Ejemplo de aplicacion de captura de pantalla en Windows"
  />
  <p class="text-center">
    Una vez realizada la captura, estara en tu carpeta de Imagenes o en tu portapapeles, segun la configuracion que hayas elegido.
  </p>
</div>
