<div class="border-2 border-white rounded-lg p-4">
  <p class="text-center">
    Puedes hacer capturas utilizando la Herramienta Recortes de Windows o Snip & Sketch (Herramienta Recortes de Windows 11).
  </p>
  <div class="columns-2 my-2">
    <img src="assets/windows/MenuInicioRecortes.webp"
         alt="Recortes de Windows"
         class="h-96 rounded-lg mx-auto"
    />
    <img src="assets/windows/MenuInicioSnip.webp"
         alt="Recortes de Windows"
         class="h-96 rounded-lg mx-auto"
    />
  </div>
  <p class="text-center">
    También puedes pulsar <samp><kbd>Windows</kbd> + <kbd>Shift</kbd> + <kbd>S</kbd></samp> para abrir la Snip & Sketch directamente.
  </p>
  <img src="assets/windows/RecortesWindows.webp"
       alt="Recortes de Windows"
       class="h-96 rounded-lg flex flex-row mx-auto my-2"
  />
  <p class="text-center">
    Una vez realices la captura con esta herramienta, se te copiará directamente al portapapeles.<br>
    Puedes pegarla en cualquier sitio pulsando <samp><kbd>Ctrl</kbd> + <kbd>V</kbd></samp> o pulsar en la notifiación para editar la captura.
  </p>
  <img src="assets/windows/WindowsNotiCaptura.webp"
       alt="Recortes de Windows"
       class="h-96 rounded-lg flex flex-row mx-auto my-2"
  />
</div>
